{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Firefly{% endblock %}
{% block content_title %}Tableau de bord{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="/api/docs">API Docs</a>
{% endblock %}

{% block main %}

{% endblock %}